@import "../../scss/variables";

@mixin displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.issues-container {
  display: flex;
  align-items: center;
  border: 1px dotted grey;
}

.issues-container:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}

.outer-cirle {
  @include displayFlex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: "1px solid black" !important;
  border-color: green;
  border-bottom: "1px solid black";
}

.inner-cirle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $background-color-green;
}

.issue-title-font-size {
  font-size: 15px;
  font-weight: 600;
}

.issue-reactions {
  @include displayFlex;
}

.issue-avtar-url {
  height: 30px;
  width: 10px;
}

.issue-creation-details {
  font-size: $font-size-12;
}

@media screen and (max-width: 700px) {
  .hidden-avtar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .issue-title-font-size {
    font-size: $font-size-12;
  }

  .type-chip {
    font-size: $font-size-12;
  }
}
