@import "../scss/variables";

.landing-page-font{
    color: $color-blue;
    font-size: $font-size-20;
    font-weight: $font-weight-600;
}

.header-container{
    background-color: $background-color-grey;
}

.nav-link-font{
   font-weight: $font-weight-600 !important;
   color: $color-black !important;
}

.button-size{
    font-size: 30px;
    font-weight: $font-weight-600;
    width: 100%;
}