/*background color variables*/
$background-color-grey:rgb(207, 207, 207);
$background-color-blue:blue;
$background-color-white:white;
$background-color-green:green;

/*color variables*/
$color-white:white;
$color-black:black;
$color-blue:blue;

/*font-size variables*/
$font-size-12:12px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;

/*font-weight variables*/
$font-weight-600:600;